@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');


#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.landing-title{
  font-size:65px;
	letter-spacing:0.1em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px darkslateblue,
						15px 12px #000000;
            display: flex;
            flex-direction: column;
            justify-content: center; /* centers vertically */
            align-items: center; 
}

.landing-description{
  font-family: 'Protest Strike';
  font-style: normal;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  /* color:#ff4d4d; */
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px
}

.start-game-button, .back-button{
  padding: 10px 20px;
  margin: 10px 0;
  width: 200px;
  text-align: center;
  font-size: 16px;
  background-color:darkseagreen;
  font-family: 'Protest Strike';
  font-style: normal;
  font-weight: 100;
  font-weight: bold;
}

.final-message{
  font-family: 'Protest Strike';
  font-style: normal;
  font-weight: 50;
  font-weight: bold;
  font-size: 16px;
  color:darkslateblue;
}

.back-button{
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover{
  background-color: #cc0000;
}

.start-game-button:hover{
  background-color: green;
}

.start-game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Protest Strike, serif;
}

.word-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.word-row{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.label{
  font-size: 25px;
  font-weight: bold;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.attempts{
  font-weight: bold;
  font-size: 24px;
  color:#ff4d4d;
  margin-top: -50px;
  font-family: Protest Strike, serif;
}

.fancy-word{
  font-size: 50px;
  font-family: Protest Strike, serif;
  font-weight: bold;
  color:darkslateblue;
}


/* Trying effect */
span{
  font-size:65px;
	letter-spacing:0.1em;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px darkslateblue,
						15px 12px #000000;
}

.hangman-game {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centers vertically */
  align-items: center;     /* centers horizontally */
  min-height: 100vh;       /* full viewport height */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}


.content{
  flex: 3;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hangman-drawing{
  position: fixed;
  justify-content: center; 
  align-items: center;
  width: 100%;
  
}
/* .hangman-drawing, svg{
  width: 100px;
  height: 100%;
  display: block;
} */

.keyboard{
  margin-top: 10px;
  position: relative;
}

.keyboard-button{
  padding: 10px 15px;
  font-size: 1rem;
  font-family: Protest Strike, serif;
  border: none;
  border-radius: 5px;
  /* background: #f0f0f0; */
  cursor: pointer;
  transition: background 0.3s;
  color: #444 
  ;
}

.keyboard-button:disabled{
  /* background: #bbb; */
  color: rgb(171, 192, 147);
  /* border: 2px solid #888; */
  cursor: not-allowed;
  /* opacity: 1; */
}

.keyboard-button:hover:enabled{
  background: #1ed671
}